html, body {
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto|Noto+Serif+JP|Noto+Serif+SC|Noto+Serif+TC&display=swap');
h1, h2, h3, h4, h5 {
  font-family: 'Noto Serif SC';
  margin: 0.2em 0; 
}
h1 { font-size: 1.50rem; font-weight: bold;}
h2 { font-size: 1.34rem; opacity: 0.9;}
h3 { font-size: 1.20rem; opacity: 0.8;}
h4 { font-size: 1.10rem; opacity: 0.7;}
h5 { font-size: 1.05rem; opacity: 0.6;}