html, body {
  padding: 0px;
  margin: 0px;
}

* {
  box-sizing: border-box;
  font-size: 16px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto|Noto+Serif+JP|Noto+Serif+SC|Noto+Serif+TC&display=swap');
@font-face {
  font-family: 'DinkieBitmap7px';
  src: local('../assets/DinkieBitmap-7px.woff2') format('woff2');
}
@font-face {
  font-family: 'DinkieBitmap9px';
  font-style: normal;
  src: local('../assets/DinkieBitmap-9px.woff2') format('woff2');
}
@font-face {
  font-family: 'DinkieBitmap9px';
  font-style: italic;
  src: local('../assets/DinkieBitmap-9pxItalic.woff2') format('woff2');
}
@font-face {
  font-family: 'DinkieBitmapMono';
  src: local('../assets/DinkieBitmap-9pxCode.woff2') format('woff2');
}

h1, h2, h3, h4, h5 {
  font-family: 'Noto Serif SC';
  margin: 0.2em 0; 
}
h1 { font-size: 1.50rem; font-weight: bold;}
h2 { font-size: 1.34rem; opacity: 0.9;}
h3 { font-size: 1.20rem; opacity: 0.8;}
h4 { font-size: 1.10rem; opacity: 0.7;}
h5 { font-size: 1.05rem; opacity: 0.6;}