@import "varibles.less";

// 为了让我们能手动切换黑暗模式, 不使用 prefers-color-scheme, 使用 dataset.theme 和 css/less varibles

:root[data-theme='theme-light'] {
  --primary-bg:       @light-primary-bg;
  --secondary-bg:     @light-secondary-bg;
  --contrast-bg:      fade(@dark-primary-bg, 3%);
  --text-color:       @light-secondary-color;
  --primary-color:    @light-primary-color;
  --secondary-color:  @light-secondary-color;
  --shadow-color:     @light-shadow;
  --shadow-color-strong: darken(@light-shadow, 30%);
  --accent-color:     @light-accent-color;
}
:root[data-theme='theme-dark'] {
  --primary-bg:       @dark-primary-bg;
  --secondary-bg:     @dark-secondary-bg;
  --contrast-bg:      fade(@light-primary-bg, 3%);
  --text-color:       @dark-secondary-color;
  --primary-color:    @dark-primary-color;
  --secondary-color:  @dark-secondary-color;
  --shadow-color:     @dark-shadow;
  --shadow-color-strong: lighten(@dark-shadow, 10%);
  --accent-color:     @dark-accent-color;
}

/** [ Attention ] 注意， less 是预编译的, 但是 less 执行转译的时候 :root 根本还没挂载变量, 会导致未定义的引用 */
/** 所以这里只能用 css varibles */
* {
  color: var(--text-color)
}

body {
  background: var(--primary-bg);
  color: var(--text-color);
}

button {
  background: var(--accent-color);
  color: var(--primary-color);
  cursor: pointer;
  &:active {
    background: var(--secondary-color)
  }
}

kbd {
  font-family: Consolas, "Lucida Console", monospace;
  display: inline-block;
  padding: 0.1em 0.6em;
  margin: 0 .2em;
  background-color: var(--primary-bg);
  border-radius: 3px;
  // border: 1px solid var(--shadow-color);
  color: var(--text-color);
  font-size: .85em;
  font-variant: small-caps;
  letter-spacing: 1px;
  line-height: 1;
  white-space: nowrap;
  :root[data-theme='theme-light'] & {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  }
  :root[data-theme='theme-dark'] & {
    box-shadow:0 1px 1px rgba(0, 0, 0, .7), 0 2px 0 0 rgba(35, 35, 35, .7) inset;
  }
}

.on-theme-switching {
  * {
    transition: background-color 1s ease;
  }
}