@light-primary-bg: #FFF;
@light-secondary-bg: #EAEAEA;

@light-secondary-text: #212121;
@light-secondary-bg: #212121;

// using cool grey 
// @see https://uxdesign.cc/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129
@dark-primary-bg: #212121;
@dark-secondary-bg: #363636;

@dark-primary-color: #F2F2F2;
@dark-secondary-color: #B0B0B0;
@dark-text-color: #B0B0B0;

