#root {
  display: grid;
  width: 100%;
  grid-gap: 16px;
  padding: 16px;
}

#root { grid-template-columns: repeat(4, 1fr); }
@media (max-width: 1280px) { #root { grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 640px) { #root { grid-template-columns: repeat(1, 1fr); } }

.fragment-card {
  box-sizing: border-box;
  display: flex;
  position: relative;
  flex-direction: column;
  text-decoration: none;
  padding-top: 56.25%;
  border-radius: 2px;
  box-shadow: 2px 2px 10px var(--shadow-color);
}

.fragment-card .media {
  position: absolute;
  height: 60%;
  top: 0%
}

.fragment-card .title {
  position: absolute;
  height: 40%;
  top: 60%;
}